@import url('https://fonts.googleapis.com/css2?family=Play:wght$400;700&display=swap');

$white: #ffffff;
$black: #000000;

$link-color: #00B6FA; // primary color for all components
$secondary-color: #A1C253; 
$success-color: #165141;
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color

$primary-color:#F54545;
$body-background: #FAFAFA;
$secondary-color: #1483E4;
$font-size-base: 14px;

$border-color-base: #EBEBEB;
$btn-border: #242424;

$font-family:  'Poppins', sans-serif;